body{
  background-image: url(neonsign4\ -\ Copy.jpg); background-size: cover;
}















.contectform{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: black;
    border: 3px solid black;
    margin: 2% 35% 2% 35%;
    padding: 5px 25px 5px 25px;
    border-radius: 10px;
    
}
h1{
    text-align: center;
    font-weight: bold;
}
hr{
    color: #262cbe;
    display: flex;
    margin: auto;
    width: 25%;
}
textarea, input[type="email"], input[type="text"]{
    border: 2px #262cbe solid;
    border-radius: 5px;
    width: 100%;
    margin: 2px;
    padding: 5px;
}
input[type="submit"]{
    background-color: #262cbe;
    text-align: center;
    border-style: none;
    padding: 10px 15px;
    border-radius: 25px;
    margin: auto;
    display: flex;
    cursor: pointer;
    transition: 0.4s;
}
input[type="submit"]:hover{
    background-color: #1e53c7;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  li {
    float: left;
  }
  li a {
    display: block;
    color:rgb(29, 27, 27);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #111;
  }
  body { margin:10px auto; text-align:center; }
  .content { max-width:800px;text-align:left; margin:auto; }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  li a:hover {
    background-color: #111;
  }
